@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header h1 {
  text-align: center;
  margin: 20px 0;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav input {
  margin-top: 10px;
  width: 70vmin;
  height: 7vmin;
  outline: none;
  border: 2px solid;
  border-right: none;
  border-radius: 100px 0 0 100px;
  font-size: large;
  font-weight: normal;
}

header nav button {
  margin-top: 10px;
  width: 10vmin;
  height: 7.6vmin;
  outline: none;
  border-left: none;
  border: 2px solid;
  border-radius: 0 100px 100px 0;
  font-size: medium;
  font-weight: normal;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-box {
  text-align: center;
}

#result {
  margin: 24px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.123);
  box-shadow: 7px 7px 8px grey;
  border-radius: 24px;
  width: 100vmin;
  height: 60vmin;
  text-align: center;
}

.disappear {
  display: none;
}

button:hover {
  cursor: pointer;
}
